@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;1,100;1,200;1,300;1,400;1,500&display=swap");

body {
  margin: 0;
  font-family: "Montserrat", sans-serif;
}

.header {
  position: fixed;
  top: 0;
  width: 100%;
  height: 90px;
  background-color: #fff;
}

.logoSpotify {
  height: 60px;
  width: 200px;
  margin: 15px;
  margin-bottom: 25px;
}

.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.navbar__list {
  list-style: none;
  display: flex;
}

.navbar__list li {
  margin-right: 1.5em;
  font-size: 1.2em;
  font-weight: 500;
}

.navbar__list li a {
  padding: 0.4em 0.6em;
  color: #000;
  text-decoration: none;
}

.section__landing {
  background-image: url("../images/landing.jpg");
  background-size: 100%;
  background-size: cover;
  height: 100vh;
  width: auto;
  text-align: center;
  color: white;
  margin: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.section__landing div h1 {
  font-size: 4.7em;
  margin-bottom: -1rem;
}

.section__landing div h6 {
  font-size: 1.6em;
}

.section__whatsOnSpotify {
  display: flex;
  flex-direction: column;
  height: 50vh;
  width: auto;
}

.title__whatsOnSpotify {
  text-align: center;
  padding: 3em;
}

.title__whatsOnSpotify span {
  border-bottom: 3px solid #1db954;
  font-size: 2em;
  padding-bottom: 0.2em;
}

#container__whatsOnSpotify {
  display: flex;
  justify-content: center;
  width: 100%;
  text-align: center;
}

.box {
  display: inline-block;
  width: 18vw;
  height: 35vh;
  font-size: 30px;
  padding: 15px;
  margin: 30px 50px;
  margin-top: -3px;
}

.box div {
  color: #1db954;
}

.box p {
  font-size: 25px;
  color: #000;
}

.icon {
  height: 10vh;
}

.section__green {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-size: cover;
  height: auto;
  background-color: #00b172;
  margin: 0 2vh 2vh 2vh;
  padding: 5vh 0 0 5vh;
}

.green__items {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  color: white;
  width: 35%;
  margin: 10vh;
  margin-top: 2vh;
}

.green__items h2 {
  font-size: 2em;
  font-weight: 900;
  text-decoration: underline white;
  text-underline-position: under;
}

.green__items p {
  font-size: 1.1em;
  margin-bottom: 7vh;
}

.green__items h3 {
  font-size: 1.5em;
  font-weight: 600;
  margin-bottom: -2vh;
}

.white__logo {
  width: 7vw;
}

.img__app__artist {
  height: 70vh;
  margin: 3vh 15vh 5vh 10vh;
}
